<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit necessitatibus, numquam enim sunt commodi excepturi fugiat culpa distinctio omnis voluptatibus eaque nesciunt alias quis ab. Corrupti repellat deserunt eius fuga iure qui ipsa fugiat hic aliquid natus sint inventore incidunt minus, dolorum facere quas eaque sequi architecto rem tempore doloribus accusamus eligendi numquam quidem! Atque alias deleniti rerum esse iure!</p>
</body>
</html>