<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowContact</title>
</head>
<body>
    <h1>This is contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolores odit cumque est quo aliquam exercitationem, officia beatae debitis eveniet sequi praesentium quisquam perspiciatis excepturi temporibus inventore iusto? Ullam perspiciatis esse enim explicabo ut debitis tempora accusamus quia? Aut earum sapiente possimus, sit quaerat cupiditate maiores facilis assumenda at voluptatem, aspernatur eaque. Necessitatibus optio, a vero libero deleniti modi fuga dicta, totam accusantium amet mollitia! Recusandae facilis quos assumenda dignissimos neque cumque deleniti, perferendis earum corporis veniam a modi quasi, nostrum nobis odit eos sapiente rerum sunt id. Dolorum fuga repellendus deserunt quae modi quam rem harum cumque ad hic!</p>
</body>
</html>