<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/addquestion.css' %}" />
    <title>Add Question</title>
  </head>
  <body>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div
              class="card shadow-2-strong card-registration"
              style="border-radius: 15px"
            >
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
                  Add Questions Subject Wise
                </h3>
                <h5 style="color:green">{{msg}}</h5>
                <form action="http://localhost:8000/Addque/Savequestion/" onsubmit="return validate()" method="post">
                    {%csrf_token%}
                  <div class="row">
                    <div class="col-12">
                      <select class="select form-control-lg" id="subject" name="Subject">
                        <option value="1" disabled>Choose option</option>
                        <option value="Python">Python</option>
                        <option value="C">C</option>
                        <option value="C++">C++</option>
                      </select>
                      <label for="subject"
                        >Choose Subject</label
                      >
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-12 mb-4">
                      <div class="form-outline mb-4">
                        <p id="Eque" style="color:hotpink"></p>
                        <textarea
                          class="form-control"
                          id="textarea"
                          rows="2"
                          name="Question"
                        ></textarea>
                        <label for="textarea"
                          >Enter Question [Properly]</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <p id="Ea" style="color:hotpink"></p>
                        <input
                          name="Option_a"
                          type="text"
                          class="form-control form-control-lg"
                          id="option_a"
                        />
                        <label for="option_a"
                          >Option A</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline datepicker w-100">
                        <p id="Eb" style="color:hotpink"></p>
                        <input
                          name="Option_b"
                          type="text"
                          class="form-control form-control-lg"
                          id="option_b"
                        />
                        <label for="option_b"
                          >Option B</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <p id="Ec" style="color:hotpink"></p>
                        <input
                          name="Option_c"
                          type="text"
                          id="option_c"
                          class="form-control form-control-lg"
                        />
                        <label for="option_c" 
                          >Option C</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <p id="Ed" style="color:hotpink"></p>
                        <input
                          name="Option_d"
                          type="text"
                          id="option_d"
                          class="form-control form-control-lg"
                        />
                        <label for="option_d"
                          >Option D</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <p id="Eanswer" style="color:hotpink"></p>
                        <input
                          name="Answer"
                          type="text"
                          id="Answer"
                          class="form-control form-control-lg"
                        />
                        <label for="Answer"
                          >Answer</label
                        >
                      </div>
                    </div>
                    <div class="form-outline col-md-6 mb-4 pb-2">
                      <div class="mt-4 pt-2">
                        <input
                          class="btn btn-primary btn-lg"
                          type="submit"
                          value="Submit"
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
       function validate()
       {
             let Question = document.getElementById("textarea");
             let option_a = document.getElementById("option_a");
             let option_b = document.getElementById("option_b");
             let option_c = document.getElementById("option_c");
             let option_d = document.getElementById("option_d");
             let answer = document.getElementById("Answer");
             let flag = 1;

            //  console.log("Question:",Question.value);
            //  console.log("a:",option_a.value);
            //  console.log("b:",option_b.value);
            //  console.log("c:",option_c.value);
            //  console.log("d:",option_d.value);
            //  console.log("answer:",answer.value);


             if(Question.value == "")
             {
                  document.getElementById("Eque").innerHTML = "Question is Empty";
                  flag = 0;
             }
             else
                  document.getElementById("Eque").innerHTML = "";

             if(option_a.value == "")
             {
                  document.getElementById("Ea").innerHTML = "Option A is Empty";
                  flag = 0;
             }
             else
                  document.getElementById("Ea").innerHTML = "";

             if(option_b.value == "")
             {
                  document.getElementById("Eb").innerHTML = "Option B is Empty";
                  flag = 0;
             }
             else
                  document.getElementById("Eb").innerHTML = "";

             if(option_c.value == "")
             {
                  document.getElementById("Ec").innerHTML = "Option C is Empty";
                  flag = 0;
             }
             else
                  document.getElementById("Ec").innerHTML = "";

             if(option_d.value == "")
             {
                  document.getElementById("Ed").innerHTML = "Option D is Empty";
                  flag = 0;
             }
             else
                  document.getElementById("Ed").innerHTML = "";

             if(answer.value == "")
             {
                  document.getElementById("Eanswer").innerHTML = "Answer is Empty";
                  flag = 0;
             }
             else
                  document.getElementById("Eanswer").innerHTML = "";
            
            if(flag==1)
               return true;
            else
              return false;
              

       }
    </script>
  </body>
</html>
