<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/statistics.css'%}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="mt-3">Statistics :<h2 style="color: rgb(37, 220, 241);" class="text-center"> Hey {{name}}, Your Test Performance</h2></h1>
            <div class="col-lg-1 col-md-3 col-xs-6 ms-5 me-5">
                <h5>Highest Score</h3>
                <div class="box"><h3 class="text-center">{{high}}</h3></div>
            </div>
            <div class="col-lg-1 col-md-3 col-xs-6 ms-5 me-5">
                <h5>Total Time Fail</h5>
                <div class="box"><h3 class="text-center">{{low}}</h3></div>
            </div>
            <div class="col-lg-1 col-md-3 col-xs-6 ms-5 me-5">
                <h5>Lowest Score</h5>
                <div class="box"><h3 class="text-center">{{failed}}</h3></div>
            </div>
            <div>
                <br><br>
                <canvas id="myChart"></canvas>
              </div>
        </div>
    </div>





      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: {{ x | safe }} ,
            datasets: [{
              label: 'Marks',
              data: {{ y | safe }},
              borderColor: "hotpink",
              backgroundColor: 'white',

              borderWidth: 3
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: false,
              }
            }
          }
        });
      </script>
       
</body>
</html>