<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Sign Up</title>

    <style>
      #input-box{
         /* background: #fff;
          width: 90%; 
          max-width: 500px; 
          border-radius: 5px;
          padding: 10px 20px;
          margin: 300px auto;*/
          display:  flex;
          align-items: center;
      }

      #input-box img{
          width: 35px;
          cursor: pointer;
      }

      #input-box1{
         /* background: #fff;
          width: 90%; 
          max-width: 500px; 
          border-radius: 5px;
          padding: 10px 20px;
          margin: 300px auto;*/
          display:  flex;
          align-items: center;
      }

      #input-box1 img{
          width: 35px;
          cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Section: Design Block -->
      <section class="text-center text-lg-start">
        <style>
          .cascading-right {
            margin-right: -50px;
          }

          @media (max-width: 991.98px) {
            .cascading-right {
              margin-right: 0;
            }
          }
        </style>

        <!-- Jumbotron -->
        <div class="container py-4">
          <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div
                class="card cascading-right"
                style="
                  background: hsla(0, 0%, 100%, 0.55);
                  backdrop-filter: blur(30px);
                "
              >
                <div class="card-body p-5 shadow-5 text-center">
                  <h2 class="fw-bold mb-5">Student Sign Up</h2>
                  <form
                    action="http://localhost:8000//Register/register/"
                    onsubmit="return validateForm()"
                    method="post" 
                  >
                    {% csrf_token %}
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="form3Example1"
                            >First Name</label
                          >
                          <input
                            type="text"
                            name="First_name"
                            id="firstName"
                            class="form-control"
                          />
                          <p id="fError" style="color:red; margin:0px; text-align:left;"></p>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="form3Example2"
                            >Last Name</label
                          >
                          <input
                            type="text"
                            name="Last_name"
                            id="lastName"
                            class="form-control"
                          />
                        
                          <p id="lError" style="color:red; margin:0px; text-align:left;"></p>
                        </div>
                      </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3"
                        >Email Address</label
                      >
                      <input type="email" name="Email" id="email" class="form-control"/>
                      <p id="Eemail" style="color:red; margin:0px; text-align:left;"></p>
                    </div>

                    <!-- Password input -->
                    <label class="form-label" for="form3Example4">Password</label>
                    <div class="form-outline mb-4" id="input-box">
                      <br>
                      <input
                      type="password"
                      name="Password"
                      id="password"
                      class="form-control"
                      />&nbsp;
                      <img
                      src="{% static 'images/eye-close.png'%}"   id="togglePassword"
                      />
                    
                    </div>
                    <p id="Epass" style="color:red; margin:0px; text-align:left;"></p>

                    <!-- Confirm Password input -->
                    <label class="form-label" for="form3Example4"
                      >Confirm Password</label
                    >
                    <div class="form-outline mb-4" id="input-box1">
                      <input
                        type="password"
                        name="Cpassword"
                        id="password1"
                        class="form-control"
                      />&nbsp;
                      <img
                      src="{% static 'images/eye-close.png'%}"   id="togglePassword1"
                      />
                     
                    </div>
                    <p id="Ecpass" style="color:red; margin:0px; text-align:left;"></p>
                    <h4 style="color: green">{{msg}}</h4>
                    <!-- Submit button -->
                    <input type="submit" class="btn btn-primary btn-block mb-4" value="Sign Up">
                    <!-- <button
                      type="submit"
                      class=""
                    >
                      Sign Up
                    </button> -->

                    <!-- Register buttons -->
                    <div class="text-center">
                      <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
              <img
                src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
                class="w-100 rounded-4 shadow-4"
                alt=""
              />
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </section>
    </div>
    <script>

      let firstName = document.getElementById('firstName');
      let lastName = document.getElementById('lastName');
      let email = document.getElementById('email');
      let pass = document.getElementById('password');
      let cpass = document.getElementById('password1');
      let flag = 1;

      function validateForm()
      {
          if(firstName.value == "")
          {
              document.getElementById("fError").innerHTML = "First Name is Empty";
              flag = 0;
          }
          else if(firstName.value.length < 3)
          {
              document.getElementById("fError").innerHTML = "First Name require at least 3 characters";
              flag=0;
          }
          else
          {
              document.getElementById("fError").innerHTML = "";
              flag = 1;
          }
             

          if(lastName.value == "")
          {
              document.getElementById("lError").innerHTML = "Last Name is Empty";
              flag=0;
          }
          else if(lastName.value.length < 4)
          {
              document.getElementById("lError").innerHTML = "Last Name require at least 4 characters";
              flag=0;
          }
          else
          {
              document.getElementById("lError").innerHTML = "";
              flag = 1;
          }

          
          var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
          if(email.value == "")
          {
              document.getElementById("Eemail").innerHTML = "Email is Empty";
              flag = 0;
          }
          else if(email.value.match(mailformat)==0)
          {
              document.getElementById("Eemail").innerHTML = "You have entered an invalid email address";
              flag = 0;
          }
          else
          {
              document.getElementById("Eemail").innerHTML = "";
              flag=1;
          }

          if(pass.value == "")
          {
              document.getElementById("Epass").innerHTML = "Password is Empty";
              flag = 0;
          }
          else if(pass.value.length <5)
          {
              document.getElementById("Epass").innerHTML = "Password length require at least 5 characters";
              flag = 0;
          }
          else
          {
              document.getElementById("Epass").innerHTML = "";
              flag = 1;
          }

          if(cpass.value == "")
          {
              document.getElementById("Ecpass").innerHTML = "Confirm Password is Empty";
              flag = 0;
          }
          else if(cpass.value != pass.value)
          {
              document.getElementById("Ecpass").innerHTML = "Password and Confirm password doesn't match";
              flag = 0;
          }
          else
          {
              document.getElementById("Ecpass").innerHTML = "";
              flag = 1;
          }
          


          if(flag==0)
            return false;
          else
            return true; 
      }
           
          











      const togglePassword = document.querySelector("#togglePassword");
      const password = document.querySelector("#password");
      togglePassword.addEventListener("click", () => {
        // Toggle the type attribute using
        // getAttribure() method
        const type =
          password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // Toggle the eye and bi-eye icon
        this.classList.toggle("bi-eye");
      });


      const togglePassword1 = document.querySelector("#togglePassword1");
      const password1 = document.querySelector("#password1");
      togglePassword1.addEventListener("click", () => {
        // Toggle the type attribute using
        // getAttribure() method
        const type =  password1.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type);
        // Toggle the eye and bi-eye icon
        this.classList.toggle("bi-eye");
      });
    </script>
    <!-- Section: Design Block -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
